.software-icons {
  display: flex;
  flex-direction: column;
  gap: 2.9375rem;
  margin-top: 5.75rem;
  padding-left: 2.5625rem;
}

.software-item {
  display: flex;
  align-items: center;
  gap: 1.25rem; /* space between icon and text */
  color: white;
  font-size: 24px;
  font-weight: 900;
}

.software-item img {
  width: 56px;  /* adjust icon size as needed */
  height: 56px;
}

body{
  background-color: black;
}